*{outline: none;}
.container{padding-left:  6.25vw; margin: 0;}

.after:after{content: ""; display: block; clear: both;}

#rightMenu{ position: fixed; top:0; right:0; bottom:0;}
#hd{position: absolute; top:0; right: 0; left: 0;}